ul#tabs {
  display: block;
  width: 800px;
  padding: 1px;
  margin: 0px 0px 10px 0px;
  background-color: lightgray;
}
li.tab {
  display: inline-block;
  padding: 7px;
  margin: 8px;
  background-color: gray;
  -webkit-border-radius: 4px;
  list-style: none inside;
  cursor: pointer;
}
li.tab p {
  display: inline;
  color: white;
  font-size: 90%;
}
li.tab:hover {
  padding: 7px;
  margin: 8px;
  background-color: darkgray;
}
li.tab:hover:active {
  background-color: dimgray;
  padding: 5px;
  margin: 10px;
}
li.tab.active {
  background-color: silver;
}
div#container {
  overflow: hidden;
  width: 800px;
  padding: 0px;
  margin: 0px;
  /*-webkit-border-radius: 9px;*/
  border: 1px solid gray;
}
div#inner {
  width: 500%;
  heigt: 100%;
  -webkit-transition: margin-left 0.1s ease-out;
}
div.slide {
  font-size: 80%;
  float: left;
  position: relative;
  display: inline;
  overflow: auto;
  width: 20%;
  height: 500px;
}
div.option,
div.item {
  padding: 10px;
  margin: 10px;
  border: 1px solid silver;
  -webkit-border-radius: 4px;
}
div.option a,
div.item a{
  text-decoration: none;
  color: gray;
}
div.option_line > * {
  display: inline-block;
  margin : 5px 10px;
}
tr.service:nth-of-type(odd) {
  background-color: #F1F1F1;
}
tr.service:nth-of-type(even) {
  background-color: white;
}
p.service_text {
  display: inline;
}
img.service_icon {
  display: inline;
  margin-top: 2px;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
div.button_container {
  padding: 8px;
}
div.button {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}
div.button.empty {
  background-image: url("../skin/empty.png");
  cursor: auto;
}
div.button.enabled {
  background-image: url("../skin/enabled.png");
}
div.button.disabled {
  background-image: url("../skin/disabled.png");
}
div.button.default {
  background-image: url("../skin/default.png");
}
label.tag_provider_set {
  display: block;
}
label.tag_provider_set > * {
  margin: 3px;
}
img.tag_provider_icon,
img.tumblelog_icon {
  display: inline-block;
  margin: 3px 3px 0px 3px;
  width: 16px;
  height: 16px;
}
p.tag_provider_text {
  display: inline-block;
}
div.tumblelog {
  height: 20px;
}
div.tumblelog:nth-of-type(odd) {
  background-color: #F1F1F1;
}
div.tumblelog:nth-of-type(even) {
  background-color: white;
}
div.tumblelog > *{
  margin-left: 3px;
  margin-right: 3px;
  display: inline-block;
}
p.tumblelog_text {
  margin-top : 0px;
}
input.text_input {
  width : 100%;
}
input#save {
  width: 800px;
  cursor: pointer;
}
p.userscript_title {
  min-width: 250px;
}
table.option_table th {
  background-color: #E1E1E1 !important;
  text-align: center !important;
}
table.option_table tr,
table.option_table td,
table.option_table th {
  padding: 5px !important;
  margin: 0 !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #bbb !important;
}
table.option_table td,
table.option_table th {
  border-style: solid !important;
  border-color: #bbb !important;
}
